.header{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  background-color: #1c1c21;
}

.wrap {
  display: flex;
  width: 100%;
}

.nav{
  max-width: 1280px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.nav>svg{
  flex-shrink: 0;
}

.list{
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.link{
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  color: #f2f2f3;
}

.nav_side_parts {
  width: 100%;
}

.lk {
  justify-content: end;
}

.icon{

  width: 24px;
  height: 24px;
}

.text{

}

